{% extends 'experimenteditor/base.html' %}
{% load bootstrap3 %}
{% block extratitle %}Confrim CAN Command Deletion{% endblock %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<h3>Are you sure you want to delete the CAN command with ID {{object.message_id}} at {{object.delay}} s?</p>
	<br>
	<a href="{% url 'edit_experiment' exp_pk=experiment.exp_pk %}" class="btn btn-danger">{% bootstrap_icon 'ban-circle' %} Cancel</a>	{% bootstrap_button "Confirm" button_type='submit' icon='ok-circle' button_class='btn-success' %}
</form>
{% endblock %}